.grid_1-1-1-1 {
    display: inline-grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 100px;
    /* gap: 20px; */
}

.grid_element1 {
    width: 100%;
    height: 200px;
    background-color: red;
}

.grid_element2 {
    width: 100%;
    height: 200px;
    background-color: blue;
}

.grid_element3 {
    width: 100%;
    height: 200px;
    background-color: green;
}

.grid_element4 {
    width: 100%;
    height: 200px;
    background-color: yellow;
}